@charset "utf-8";

body {
    width: 1080px;
    background-color: black;
 }

 div {
    float: left;
    width: 500px;
    height: 600px;
    background-color: rgb(68, 71, 250);
    padding: 10px;
    font-size: 1.5em;
 }

 aside {
    float: right;
    width:500px;
    height: 600px;
    background-color: rgb(68, 71, 250);
    padding: 0 20px;
 }

 aside h1 {
    font-size: 1.9em;
    font-family: Segoe, Verdana, sans-serif;
    line-height: 0.8em;
    margin: 20px 0 0 0;
 }

 aside p {
    font-size: 1.5em;
    text-indent: 1em;
 }

 aside p:first {
    text-indent: 0em;
 }

 .img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
 }

 html, body {
    min-height: 100%;
    min-width: 100%;
 }

 nav {
  float: center;
  color: white;
  text-align: center;
 }

nav p{
  border: 3px solid white
}

a:link {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: blue;
}

.active {
  background-color: rgb(68, 71, 250);
}
